@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

header img {
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

#breveDescripcion {
    text-align: center;
}

hr {
    border-color: yellow;
}

body {
    font: 100 20px Roboto;
    color: yellow;
    border: 1px solid yellow;
    border-radius: 20px;
    padding: 10px;
    background-image: url("imagenes/star-wars-backgrounds-25_bc15ec98.jpeg");
}


footer {
    font: 100 20px;
    text-align: right;
}


h1 {
    font: 100 60px;
    text-align: center;
}

h2 {
    font: 2000 35px yellow;
}

h3 {
    font: 100 30px;
}

main {
    border-radius: 10px;
    padding: 15px 15px 15px;
    border: 1px solid #92d417;
    font-size: 20;
}

#formulario {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid yellow;
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulario input,
#formulario textarea {
    width: 400px;
    display: block;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid yellow;
}

footer img {
    max-width: 40;
    max-height: 40;
    background-color: yellow;
    border-radius: 100%;

}

label {
    font: 500 20px Roboto;
}

#iconosSociales {
    margin: 0px 0px 15px;
}
