@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

header img {
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

header {
    background-color: #0275d8;
}

#breveDescripcion {
    text-align: center;
}



body {
    font: 100 20px Roboto;
    border-radius: 20px;
    padding: 10px;
}


footer {
    font: 100 20px;
    text-align: right;
}


h1 {
    font: 100 60px;
    text-align: center;
}


h3 {
    font: 100 30px;
}

#main {
    border-radius: 10px;
    padding: 15px 15px 15px;
    font-size: 20;
    display: flex;
    justify-content: space-around;

}

#infoPersonal {
    display: flex;
    justify-content: space-around;
}

#habilidades {
    display: flex;
    justify-content: space-around;

}

#formulario {
    box-shadow: 1px 1px 1px black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}

#formulario input,
#formulario textarea {
    width: 400px;
    display: block;
    border-radius: 5px;
    padding: 10px;
}

footer img {
    max-width: 40;
    max-height: 40;
    border-radius: 100%;

}

label {
    font: 500 20px Roboto;
}

#iconosSociales {
    margin: 0px 0px 15px;
}
