@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");


header img{
    max-width: 300px;
	height: auto;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
#breveDescripcion{
    text-align: center;
    font: 1000 17px roboto;
}

hr{
border-color:  #7e86f7; ;
}

body{
    font: 100 20px roboto;
    background-color: #ffffff;
    border: 1px solid #7e86f0;
    border-radius: 20px;
    padding: 10px;
}


footer{
    font:100 20px roboto;
    text-align: right;
 }


h1{
    font: 100 60px roboto;
    text-align: center;
}

h2{
    font: 1000 35px roboto;
    color: rgb(133, 86, 5);
}
h3{
    font: 100 30px roboto;
}

main{
    display: block;
    width: auto; 
    border-radius: 10px;
    padding: 15px 15px 15px;
    background-color: white;
    border: 1px solid #7e86f0;
    font-size: 20;
}

#formulario{
    display: block;
    width: auto; 
    border-radius: 10px;
    padding: 15px 15px 15px;
    background-color: white;
    border: 1px solid #7e86f0;
    font-size: 20;
}

#formulario input, #formulario textarea{
	width: 500px;	
	border-radius: 30px;
	padding: 10px;
	color: #676767;
	border: solid 3px #98d4f3;	
	box-sizing:border-box;
	
}

footer img{
    max-width: 40;
    max-height: 40;

}
